/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9; /* Jasnozielone tło */
    color: #2e7d32; /* Zielony tekst */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #a5d6a7; /* Jaśniejszy zielony dla kontenera */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  .logo img{
    height: 300px;
    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;

  }
  .logo h1{
    font-size: 24px;
    font-weight: bold;
    color: #1b5e20; /* Ciemniejszy zielony */
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .btn {
    width: 200px;
    background-color: #66bb6a; /* Zielony guzik */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #338a3e; /* Ciemniejszy zielony po najechaniu */
  }